In [ ]:
# llamamos la función
from ahp.ahp import AHP

In [2]:
import pandas as pd

In [3]:
pairwise_cost=pd.read_excel("OptCountries.xlsx",sheet_name='Cost of living', index_col=0)
pairwise_language=pd.read_excel("OptCountries.xlsx",sheet_name='Language Difficulty', index_col=0)
pairwise_possibilities=pd.read_excel("OptCountries.xlsx",sheet_name='Possibilities', index_col=0)
pairwise_criteria=pd.read_excel("OptCountries.xlsx",sheet_name='Criteria', index_col=0)

In [11]:
pairwise_cost

              Brazil  Inglaterra   Francia    España   EEUU
Brazil      1.000000     5.000000  5.000000  3.000000     6
Inglaterra  0.200000     1.000000  2.000000  0.333333     3
Francia     0.200000     0.500000  1.000000  0.333333     3
España      0.333333     3.000000  3.000000  1.000000     4
EEUU        0.166667     0.333333  0.333333  0.250000     1

In [12]:
pairwise_language

              Brazil  Inglaterra   Francia    España       EEUU
Brazil      1.000000     0.333333         3  0.111111  0.333333
Inglaterra  3.000000     1.000000         4  0.111111  0.500000
Francia     0.333333     0.250000         1  0.111111  0.250000
España      9.000000     9.000000         9  1.000000  9.000000
EEUU        3.000000     2.000000         4  0.111111  1.000000

In [13]:
pairwise_possibilities

            Brazil  Inglaterra   Francia   España       EEUU
Brazil           1     0.250000  0.333333     0.25  0.166667
Inglaterra       4     1.000000  2.000000     3.00  0.333333
Francia          3     0.500000  1.000000     3.00  0.333333
España           3     0.333333  0.333333     1.00  0.250000
EEUU             6     3.000000  3.000000     4.00  1.000000

In [4]:
#organizaremos en base a los criterios
pairwise_criteria

                Cost  Language  Possibilities
Cost             1.0         5       0.333333
Language         0.2         1       0.200000
Possibilities    3.0         5       1.000000

In [5]:
data = [pairwise_cost.values.tolist(),
        pairwise_language.values.tolist(),
        pairwise_possibilities.values.tolist(),
        pairwise_criteria.values.tolist()]

In [6]:
ahp = AHP()
ahp.fit(data)

In [10]:
#Optenemos el resultado
Solution=pd.DataFrame(index=pairwise_language.index)
Solution['Score']=ahp.classificate()
Solution['Ranking']=Solution.Score.rank(ascending=False)
Solution

               Score  Ranking
Brazil      0.185620      4.0
Inglaterra  0.189068      3.0
Francia     0.136375      5.0
España      0.190004      2.0
EEUU        0.298932      1.0

In [ ]:
#Conclusión: Basado en los resultados podemos ver que en base a los criterios escogidos el mejor país para realizar una maestría es EEUU, seguido de España, Inglaterra, Brazil y Francia